body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}
#gallery img {
  width: 100px;
  margin: 10px;
  cursor: pointer;
  border: 2px solid transparent;
}
#gallery img:hover {
  border-color: blue;
}
